body{
    background-image: url(images/b1.jpg);
    text-align: center;
    color: white;
}
h1{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px black;
}
h3{
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    margin: 0px;
    color: black;
    -webkit-text-stroke: 1px white;
}
p{
    font-size: 28px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    margin-top: 0px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}
ul li{
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    list-style-type: none;
}